*{
	margin: 0; padding: 0; box-sizing: border-box;
}
html{
  overflow-y: hidden;
}
body{
  width: 100%;
  height: 100vh;
}
#landing_page .header{
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
}
/* #landing_page .header ul{
  margin-left: 80px;
} */
#landing_page .header ul li a{
  /* width: 120px; */
  margin: 0 20px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* .phn_logo img{
	display: none;
} */



#landing_page .procurement{
	padding-top: 80px;
	width: 80%;
	margin: 0 auto;
}
#landing_page .procurement h1{
	font-size: 50px;
}
#landing_page .procurement .buttons{
  margin-top: 50px;
}
#landing_page .procurement .buttons button{
	background: transparent;
	padding: 20px 0px;
	width: 300px;
	font-size: 25px;
	border-radius: 30px 0 30px 0;
	margin: 20px 16px;
	border: 3px solid black;
}
#landing_page .procurement p{
	margin-top: 60px;
	padding: 30px;
	font-size: 20px;
	line-height: 1.8em;
	border-left: 8px solid black;
}

/* ************************** Waitlist * **************************/

#landing_page .joinwaitlist{
	padding-top: 80px;
	width: 80%;
	margin: 0 auto;
}
#landing_page .joinwaitlist h1{
	font-size: 50px;

  /* font-family: 'Open Sans', sans-serif; */
}
#landing_page .joinwaitlist .buttons-join-1 button {
  color: white;
  background-color: #ffb82a;
  padding:8px 0px;
  width: 180px;
  font-weight: 500;
  font-size: 25px;
  margin: 40px 0;
  border: 0px;
}
#landing_page .joinwaitlist .media{
  margin: 40px 0;
}
#landing_page .joinwaitlist .media .media-body{
  padding-right: 10%;
}
#landing_page .joinwaitlist .media .media-body h3{
  font-size: 30px;
}
#landing_page .joinwaitlist .media .media-body p{
  font-size: 20px;
}
#landing_page .joinwaitlist .waitbox-1 {
  color: white;
  background-color: #ffb82a;
  padding: 2% 2%;
  border-radius: 50px 0 50px 0;
  margin: 0px 15px;
  width: 100px;
  height: 190px;
  text-align: center;
}
#landing_page .joinwaitlist .waitbox-1 object .icon{
  width: 50px;
  height: 110px;
}
#landing_page .joinwaitlist .waitbox-1 object{
  width: 60px;
  height: 100px;
  margin-top: 30px;
}
.bottom_paragraph{
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}
/* ************************** Landing Page End ******************* */


@media(max-width: 767px)
{
  #landing_page .procurement{
    width: 100%;
  }
  #landing_page .header{
    padding-top: 0px;
    width: 100%;
  }
  .phn_logo img{
     display: block;
  }
  .desk_logo img{
     display: none;
  }
  #landing_page .procurement h1{
    font-size: 50px;
  }
  #landing_page .joinwaitlist h1{
    font-size: 40px;
    
  }
  #landing_page .procurement p{
    font-size: 16px;
  }
   #landing_page .procurement .buttons{
    margin-top: 70px;
   }
  #landing_page .procurement .buttons button{
    font-size: 20px;
    width: 250px;

  }
  #landing_page .procurement{
    padding-top: 50px;
  }
}
@media(max-width: 506px)
{
  
  #landing_page .procurement h1{
    font-size: 30px;
  }
  #landing_page .procurement .buttons button{
    font-size: 20px;
    width: 220px;
  }
  .phn_logo img{
    width: 135px;
  }
  #landing_page .procurement p{
    padding: 20px;
  }
  .bottom_paragraph{
    font-size: 12px;
  }
  #landing_page .joinwaitlist .buttons-join-1 button {
    font-size: 16px;
    width: 150px;
  }
}

@media screen and (max-height: 700px)
{
  .phn_logo img{
    width: 120px;
  }
  #landing_page .procurement h1{
    font-size: 30px;
  }
  #landing_page .procurement{
    padding-top: 30px;
  }
   #landing_page .procurement .buttons{
    margin-top: 30px;
   }
   #landing_page .procurement p{
    padding: 10px 20px;
  }
}

@media(max-width: 600px){
  #landing_page .joinwaitlist{
    padding-top:50px;
  }
  #landing_page .joinwaitlist .col-lg-4{
    margin: 50px 1px 0 0 ;
  }
  #landing_page .joinwaitlist .media{
    margin: 0px 2px;
  }
  #landing_page .joinwaitlist .media .media-body{
    padding-right: 0;

  }
  #landing_page .joinwaitlist .waitbox-1 {
    padding: 0;
    border-radius: 30px 0 30px 0;
    margin: 0px 10px;
    width: 50px;
    height: 70px;
  }
  #landing_page .joinwaitlist .waitbox-1 object{
    width: 20px;
    height: 50px;
    margin-top: 10px;
  }
  #landing_page .joinwaitlist h1{
    font-size: 28px;
  }
  #landing_page .joinwaitlist .media .media-body h3{
    font-size: 20px;
  }
  #landing_page .joinwaitlist .media .media-body p{
    font-size: 12px;

    font-weight: 500;
  }
  #landing_page .joinwaitlist .buttons-join-1 button{
    margin: 30px 20px 0 0;
    padding: 10px 0px 10px 0;
  }
}

@media screen and (max-height: 700px){
   #landing_page .joinwaitlist .buttons-join-1 button{
      margin: 10px 20px 0 0;
   }
   
    #landing_page .joinwaitlist .col-lg-4{
      margin-top: 10px;
    }
    .bottom_paragraph{
      margin-top: 10px;
    }
}
